.filter-data-range .DateRangePicker{
    width: 100%;
}
.filter-data-range .DateRangePickerInput__withBorder{
    border: initial;
}
.filter-data-range .DateRangePickerInput{
    width: 100%;
}
.filter-data-range .DateInput{
    width: 138px !important;
}
.filter-data-range .DateInput_input{
    margin-bottom: 0px !important;
    width: 138px !important;
    padding-right: 20px !important;
}
.filter-data-range .CalendarDay__selected_span {
    background: var(--ltn__secondary-color);

}

.filter-data-range .CalendarDay__selected {
    background: var(--ltn__secondary-color);
    color: white;
}

.filter-data-range .CalendarDay__selected:hover {
    background: var(--ltn__secondary-color);
    color: white;
}

.filter-data-range .CalendarDay__hovered_span:hover,
.filter-data-range .CalendarDay__hovered_span {
    background: var(--ltn__secondary-color);;
}

.filter-data-range .DayPicker_weekHeader_li{
    margin-top: 0px !important;
}